<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${MODULE_PACKAGE}</package>
	<author>NIDAN EHR</author>
	<description>${project.parent.description}</description>

	<require_version>2.7.0</require_version>

	<require_modules>
		<require_module>org.openmrs.module.webservices.rest</require_module>
		<require_module>org.openmrs.module.bedmanagement</require_module>
		<!-- medication-administration module required for ipd_slot FK to medication_administration table -->
		<require_module>org.bahmni.module.medication-administration</require_module>
	</require_modules>

	<globalProperty>
		<property>nidan.ipd.allowSlotStopOnDrugOrderStop</property>
		<defaultValue>false</defaultValue>
		<description>Feature toggle: when true, IPD slots are stopped when the associated drug order is stopped</description>
	</globalProperty>

	<globalProperty>
		<property>nidan.ipd.orderAttributesConceptSetName</property>
		<defaultValue>Order Attributes</defaultValue>
		<description>Name of the OpenMRS concept set that contains order attribute concepts (e.g. sort weight). Used to derive slot ordering for IPD drug orders.</description>
	</globalProperty>

	<privilege>
		<name>Edit Medication Tasks</name>
		<description>Allows to Edit Medication Schedules and Slots</description>
	</privilege>
	<privilege>
		<name>Delete Medication Tasks</name>
		<description>Allows to Delete Medication Schedules and Slots</description>
	</privilege>
	<privilege>
		<name>Edit adhoc medication tasks</name>
		<description>Allows to Edit Emergency Medication Tasks</description>
	</privilege>
	<privilege>
		<name>Edit Medication Administration</name>
		<description>Allows to Edit Medication Administrations</description>
	</privilege>
	<privilege>
		<name>Get Medication Administration</name>
		<description>Allows to Get Medication Administrations</description>
	</privilege>
	<privilege>
		<name>Get Medication Tasks</name>
		<description>Allows to Get Medication Tasks</description>
	</privilege>
	<privilege>
		<name>Get Tasks</name>
		<description>Allows to Get IPD nursing/non-medication tasks</description>
	</privilege>
	<privilege>
		<name>Add Tasks</name>
		<description>Allows to create IPD nursing/non-medication tasks</description>
	</privilege>
	<privilege>
		<name>Edit Tasks</name>
		<description>Allows to edit IPD nursing/non-medication tasks</description>
	</privilege>

	<!-- Nursing Task Management Privileges -->
	<privilege>
		<name>Manage Task Templates</name>
		<description>Allows to create, update and void nursing task templates</description>
	</privilege>
	<privilege>
		<name>Get Task Templates</name>
		<description>Allows to view nursing task templates</description>
	</privilege>
	<privilege>
		<name>Apply Task Templates</name>
		<description>Allows to apply task templates to patients</description>
	</privilege>
	<privilege>
		<name>Manage Task Instances</name>
		<description>Allows to create and manage nursing task instances</description>
	</privilege>
	<privilege>
		<name>Get Task Instances</name>
		<description>Allows to view nursing task instances</description>
	</privilege>
	<privilege>
		<name>Complete Tasks</name>
		<description>Allows to complete nursing tasks</description>
	</privilege>
	<privilege>
		<name>Acknowledge Tasks</name>
		<description>Allows doctors to acknowledge task completion (for billing)</description>
	</privilege>
	<privilege>
		<name>Manage Task Cleanup</name>
		<description>Allows to cleanup and archive cancelled tasks</description>
	</privilege>
	<privilege>
		<name>View Task Reports</name>
		<description>Allows to view task completion and billing reports</description>
	</privilege>

	<activator>org.openmrs.module.ipd.api.IPDActivator</activator>
</module>

